<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Defect_Tracking</servlet-name>
        <servlet-class>Defect_Tracking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Defect_Tracking</servlet-name>
        <url-pattern>/Defect_Tracking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <welcome-file-list>
        <welcome-file>index0.html</welcome-file>
    </welcome-file-list>
</web-app>
